@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --color-brand: #ef4444;
  --color-brand-dark: #dc2626;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #09090b;
  color: #f4f4f5;
}
